mat-toolbar{
 /*  background-color: #424242; */
/* background-color: #121212; */
    background-color: #232f3e;
   /* color: aliceblue; */
    color: #eaeded;
}
.logo {
    padding-top: 7px;
}
.logo img {
    height: 50px;
    width: 100%;
}
.closedMenu{
    display: none;
}

.openedMenu{
    padding-top: 12px;
    display: inline;
}
.content{
    font-size: 15px;
}

@media (max-width: 600px){
    .closedMenu{
        display: inline;
    }

    .openedMenu{
        display: none;
    }
    .logo {
        padding-top: 7px;
    }
    .logo img {
        height: 30px;
        width: 100%;
    }
}

.spacer{
    flex: 3 3 auto;
}

.content{
    flex: 3 3px auto;
}

.mini-spacer{
    flex: 0 0 10px;
}